<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LeoBot</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon" href="static/favicon.ico" />
</head>

<body class="has-background-white-ter">
  <div class="box">
    <img src="static/esilv.png" alt="esilv">
    {% block content %}
    {% endblock content %}
  </div>
  <footer>
    <strong>Veni Vidi DeVinci</strong> © Léonard de Vinci
</footer>
</body>

</html>