{% extends "base.html" %}
{% block content %}
{% if credentials_error %}
<div class="card">
  <p>
    Email DeVinci ou mot de passe invalides!
  </p>
</div>
{% endif %}
<form action="/login" method="POST">
  <div class="custom-field">
    <input type="email" name="username" id="username" placeholder=" " required>
    <label for="username">Email DeVinci</label>
  </div>
  <div class="custom-field">
    <input type="password" name="password" id="password" placeholder=" " required>
    <label for="password">Mot de passe</label>
  </div>
  <input type="submit" class="custom-btn" value="Connexion">

</form>
{% endblock content %}