{% extends "base.html" %}
{% block content %}
{% if credentials_error %}
<div class="notification is-danger is-light">
  Email DeVinci ou mot de passe invalides!
</div>
{% endif %}
<form action="/login" method="POST">
  <div class="field">
    <div class="control has-icons-left">
      <input class="input" name="username" type="text" placeholder="Email DeVinci" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left">
      <input class="input" name="password" type="password" placeholder="Mot de passe" required>
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-danger is-fullwidth" type="submit" value="Submit">Connexion</button>
    </p>
  </div>
</form>
{% endblock content %}